# Things to always exclude
global-exclude .git*
global-exclude .ipynb_checkpoints
global-exclude *.py[co]


# Top-level config
include MANIFEST.in
include setup.cfg
include _setup_utils.py

# include driftscope/thermo/waters
# driftscope
include origami/readers/driftscope/*.dll
include origami/readers/driftscope/*.exe

# thermo
include origami/readers/thermo/*.dll
include origami/readers/thermo/*.pdb
include origami/readers/thermo/*.tlb
include origami/readers/thermo/*.config

# waters sdk
include origami/readers/waters/*.dll
include origami/readers/waters/*.lib

# Always include
global-include *.pyx
global-include *.c
global-include *.ico
global-include *.png